<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="UITestHelperNuGet" value="/Users/aravindkannanarayanarao/Documents/Toolkit/GithubPublic/Toolkit-SfButton-MAUI-tests/UITEST/Appium/Nuget"/>
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
